# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# OS-specific
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Misc
*.log
